<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="geocontainer-leaderboard">
        <h1>Team Leaderboard</h1>
        <% @teams.each do |team| %>
          <div>
            <hr>
            <h4><span style="color: <%= team.name %>"><%= team.name %> Team:</span> <%= team.score %> Flags</h4>
            <h5><%= team.users.length %> Players</h5>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm">
      <div class="geocontainer-leaderboard">
        <h1>Player Leaderboard</h1>
        <% @players.each do |player| %>
          <div>
            <hr>
            <h4><%= player.name %>: <%= player.points %></h4>
            <h5 style="color:<%= player.team.name %>"><%= player.team.name %> Team</h5>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>