<div class="container">
  <h1 style="margin-bottom:20px; text-align:center;">Message Board</h1>
  <div id="message-table">
    <div id="messages-<%= params[:id] %>">
      <% @team.messages.each do |message| %>
        <div class="post-preview">
          <h4 class="post-subtitle"><%= message.text %></h4>
          <p class="post-meta"><b><%= message.user.name %></b> at <%= message.created_at %></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div id="message-input">
      <input id="message-line" type="text" name="text"><button onclick="sendMessage(<%= current_user.id %>)">Send</button>
    </div>
  </div>
</div>