<h2 id="coords">Current Coordinates: <%= current_user.latitude %>, <%= current_user.longitude %></h2>

<div id="nearby_players">
  <h3>Nearby Players:</h3>
  <% @nearby_players.each do |player| %>
    <% if player.id != current_user.id %>
      <div>
        Username: <%= player.name %>
        <% if player.has_flag %>
          <em>(FLAG!)</em>
        <% end %>
        <% if player.time_stunned != nil %>
          <em>(STUNNED)</em>
        <% else %>
          <%= link_to "Stun?", "/stuns/?id=#{player.id}", method: :post, class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<br>
<div id="nearby_bases">
  <h3>Nearby Bases:</h3>
  <% @bases.each do |base| %>
    <p>
    <%= base.team.name %>
    <% if base.team_id == current_user.team_id && current_user.has_flag && current_user.distance_to(base) <= 0.006 %>
      <% if current_user.current_flag.base.team_id == current_user.team_id %>
        <%= link_to "Return Flag", "/flags/#{current_user.current_flag.id}/?base_id=#{base.id}", method: :delete, class: "btn btn-primary"%>
      <% elsif current_user.current_flag.base.team_id != current_user.team_id %>
        <%= link_to "Score!", "/flags/#{current_user.current_flag.id}/?base_id=#{base.id}", method: :delete, class: "btn btn-primary"%>
      <% end %>
    <% end %>
    </p>
  <% end %>
</div>
<br>
<div id="nearby_flags">
  <h3>Nearby Flags:</h3>
    <% @flags.each do |flag| %>
      <p><%= flag.base.team.name %> Flag</p>
      <% if current_user.time_stunned == nil && current_user.has_flag == false && flag.base.team_id != current_user.team_id %>
        <%= link_to "Capture!", "/flags/#{flag.id}", method: :patch, class: "btn btn-primary" %>
      <% elsif current_user.time_stunned == nil && current_user.has_flag == false && flag.base.team_id == current_user.team_id && flag.captures != [] %>
        <%= link_to "Rescue!", "/flags/#{flag.id}", method: :patch, class: "btn btn-primary" %>
      <% end %>
    <% end %>
</div>